@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  /* background: #E5E5E5; */
}
body {
  background: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.player-name,
.blog-name,
.course-name {
  font-size: 18px;
  color: #1E1E1E;
}
/* Top Section */
.top-section {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  width: 870px;
  height: 679px;
  padding-left: 40px;
  position: absolute;
  left: 285px;
  top: 130px;
  border: 0;
  border-radius: 10px; 
}
.top-section:hover{
  border: 1px solid #562eff;
}
.title {
  font-size: 24px;
  color: #562eff;
  padding: 40px 0;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player,
.blog {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 16px;
}
.player img {
  width: 56px;
  height: 56px;
}

.horizontal {
  margin: 30px 130px 0 0;
}
.horizontal:hover {
  border: 1px solid #562eff;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog p {
  font-size: 16px;
  color: #562eff;
}
.blog p span {
  color: #ac5151;
}
/* course section */
.course-section{
  font-family: "Robot0", sans-serif;
  background: #ffffff;
  width: 870px;
  height: 362px;
  padding-left: 40px;
  position: absolute;
  left: 285px;
  top: 830px;
  border: 0;
  border-radius: 10px;
}
.course-section:hover{
  border: 1px solid #562eff;
}
.courses{
 display: flex;
 gap: 54px;
}
.course img{
  width: 224px;
  height: 104px;
}
.course-name{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #1E1E1E;
} 
.course p{
  color: #ED6B4F;
  font-size: 14px;
}
/* rate part */
.course-rate-duration .rate-star{
  width: 12px;
  height: 11px;
}
