@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  /* background: #E5E5E5; */
}
body {
  background: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.player-name,
.blog-name,
.course-name {
  font-size: 18px;
  color: #1e1e1e;
}
/* nav part */
.nav {
  font-family: "Poppins", sans-serif;
  height: 94px;
  background-color: #562eff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0;
  border-radius: 4px;
}
.nav .logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav .logo img {
  width: 40px;
  height: 51px;
}
.nav .logo-name {
  font-size: 20px;
  color: #ffffff;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
.nav ul li .profile {
  width: 51px;
  height: 51px;
}
/* Top Section */
.top-section {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  width: 870px;
  height: 679px;
  padding-left: 40px;
  position: absolute;
  left: 285px;
  top: 130px;
  border: 0;
  border-radius: 10px;
}
.top-section:hover {
  border: 1px solid #562eff;
}
.title {
  font-size: 24px;
  color: #562eff;
  padding: 40px 0;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player,
.blog {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 16px;
}
.player img {
  width: 56px;
  height: 56px;
}

.horizontal {
  margin: 30px 130px 0 0;
}
.horizontal:hover {
  border: 1px solid #562eff;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog p {
  font-size: 16px;
  color: #562eff;
}
.blog p span {
  color: #ac5151;
}
/* course section */
.course-section {
  font-family: "Robot0", sans-serif;
  background: #ffffff;
  width: 870px;
  height: 362px;
  padding-left: 40px;
  position: absolute;
  left: 285px;
  top: 830px;
  border: 0;
  border-radius: 10px;
}
.course-section:hover {
  border: 1px solid #562eff;
}
.courses {
  display: flex;
  gap: 54px;
}
.course img {
  width: 224px;
  height: 104px;
}
.course-name {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #1e1e1e;
}
.course p {
  color: #ed6b4f;
  font-size: 14px;
}
/* rate part */
.course-info {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.fa-star.field {
  font-size: 12px;
  color: #ebad04;
}
.fa-star.empty {
  font-size: 12px;
  color: #aeaeae;
  opacity: 0.25;
}
.course-duration{
  border: 0;
  border-radius: 12px;
  color: #ED6B4F;
  background: #FFE4E8;
  font-size: 14px;
  width: 94px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
  padding-top: 8px;
}